@import "tailwindcss";
@import "tw-animate-css";

@import "tailwindcss";

@theme {
  --font-sans: "Coolvetica", ui-sans-serif, system-ui;
  --font-titulo: "Akira", sans-serif;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica.otf') format('opentype');
}

@font-face {
  font-family: 'Akira';
  src: url('/fonts/akira_expanded.otf') format('opentype');
}